#thoughtBox{
    width: 50%;
    height: 20%;
    background: #00000066;
    border-radius: 30px;
    box-shadow: black 0 0 20px 3px;
    a, button {
        color: black;
        border: outset 2px black;
        margin-top: 30px !important;
        border-radius: 6px;
        margin: 0px 10px;
        background: rgba(144, 97, 255, 0.33);
        height: 30px;
        width: 80px;
        align-content: center;
        text-decoration: auto;
        &:hover{
            cursor: pointer;
            background:mediumpurple;
            border: inset 2px black;
        }
    }
    input{
        margin-top: 30px !important;
    }

}

#userSelection{
    width: 100px;
    font-size: 10%;
    text-wrap: nowrap;
    height: 21px;
    /* &:active{
       outline: -webkit-focus-ring-color auto 1px;
    } */
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    div, a, input{
        margin: 0 10px;
    }
}

/* .dropdown {
    position: relative;
    display: inline-block;
  } */
  
  .dropdown-toggle {
    background-color: #f1f1f1;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    height: 0px;
    align-content: center;
    font-size: 12px;
    min-width: 62px;
        &:hover{
            cursor: pointer;
            background-color: #50545a;
        }
    }
  
  .dropdown-menu {
    background-color: #50545a;
    border: 1px solid #ccc;
    min-width: 150px;
    z-index: 1;
    border-radius: 10px;
    padding: 2px;
  }
  
  .dropdown-item {
    font-weight: normal;
    display: block;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    white-space: nowrap;
    color: white;
    font-size: 12px;
    border-radius: 10px;
    &:hover{
        cursor: pointer;
        background-color: #3b83f3;
    }
  }

  h3{
    color: white;
  }