
#userSelection{
    margin-top: 30px !important;
}

h4{
    color: white;
}

h5{
    color: white;
}

#screenCover{
    position: absolute;
    left: -370px;
    top: -137px;
    width: 100vw;
    height: 100vh;
    background: #ffffff1f;
    z-index: 15;
}

#loginContainer{
    margin-left: 120px;
    z-index: 50;
}