
#userSelection{
    margin-top: 30px !important;
}

h4{
    color: white;
}

h5{
    color: white;
}

#screenCover{
    position: absolute;
    left: -370px;
    top: -137px;
    width: 100vw;
    height: 100vh;
    background: #ffffff1f;
    z-index: -1;
}

#errorContainer{
    width: 500px;
    background: #373737;
    margin-left: 120px;
    z-index: 21;
    height: 300px;
    align-content: center;
    border-radius: 30px;
    font-size: 25px;

}

#errorReturn{
    text-decoration: none;
    color: black;
    border: outset 2px black;
    margin-top: 30px !important;
    border-radius: 6px;
    margin: 0px 10px;
    background: rgba(144, 97, 255, 0.33);
    height: 30px;
    width: 80px;
    align-content: center;
    padding: 3px;
    &:hover{
      background:mediumpurple;
      border: inset 2px black;
    }
}