canvas {
    background: radial-gradient(ellipse at top, #4c21e675, #00000085), radial-gradient(ellipse at bottom, #9f0c435c, #42000080);
    height: 95%;
    width: 95%;
}

#resetButton {
    color: black;
    border: outset 2px black;
    margin-top: 30px !important;
    border-radius: 6px;
    margin: 0px 10px;
    background: rgba(144, 97, 255, 0.33);
    height: 30px;
    width: 80px;
    align-content: center;
    text-decoration: auto;
    &:hover{
        cursor: pointer;
        background:mediumpurple;
        border: inset 2px black;
    }
}