#fidgetComponent{
    overflow: hidden;
    height: 85vh;
    width: 100vw;
    #fidgetContainer{
        height: 100%;
        width: 100%;
        background: radial-gradient(ellipse at top, #4c21e675, #00000085), radial-gradient(ellipse at bottom, #9f0c435c, #42000080);
        z-index: 0;
        margin-bottom: 5px;
        .fidget-wrapper{
            height:100%;
            width: 100%;
        }
    }
}

#fidgetMenu {
    transform: none;
    border-radius: 6px;
    margin: 0px 10px;
    background: rgba(144, 97, 255, 0.33);
    height: 30px;
    width: 80px;
}

#menu {
    width: 100vw;
    height: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    overflow-x: visible;
}

#dropdown{
    z-index: 5;
    position: absolute;

    img{
        width: 91px;
        height: 91px;
    }
}
