

main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

#carousel-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    width: 70%;
}

aside{
    width: 30%;
    height: 85vh;
    background: #00000087;
    box-shadow: black 0 0 20px 5px;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    justify-content: flex-start;
    align-items: center;
    #currentUser{
        color:white;
        font-size: 20px;
    }
    #messages{
        font-size: 20px;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-wrap: balance;
        height: 25px;
        margin-bottom: 10px;
        padding: 2px 0px;
        #favHeart{
            margin-top: 10px;
            margin-bottom: 10px;
            align-self: flex-end;
            z-index: 10;
        }
    }

    #favQuotes{
        margin-top: 80px;
    #favoriteQuotes{
        overflow-y: overlay;
        overflow-x: hidden;
        div{
            color: white;
            text-wrap: balance;
            margin: 15px 0px;
            padding: 2px 0px;
            &:hover{
                scale: 1.05;
            }
        }
    }
}
}
