#bubble{
    margin-left: 30px;
}

#linkToPage {
    width: 150px;
    height: 110px;
    /* background-color: aliceblue; */
    left: 50px;
    top: 50px;
    position: absolute;
    display: block;
}