.App {
  text-align: center;
  background-color: #1e1e1e;
  background-image: url('./assets/waves.svg');
  height: 100vh;
  overflow: visible;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-blend-mode: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#loading{
  position: absolute;
  transform: translate(-18px, -26px);
  height: 129px;
}

.App-header {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  background: #0000009c;
  box-shadow: black 0 0 20px 5px;
  margin-bottom: 30px;
  a{
    color: white;
    font-size: 20px
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#messages{
  font-size: 84%;
  line-break: auto;
  width: 500px;
}
